.form-contacto {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-form {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  margin-top: 60px;

}

.fs-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;


}


.fs-description {
  display: flex;
  color: var(--color-text-muted);
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-button-group {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1.5rem;
  justify-content: center;
}


.fs-button {
  margin-bottom: 20px;  
  background-color: greenyellow;
    width: 300px;
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 2rem;
  transition-duration: 200ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-textarea {

 
  appearance: none;
  border-radius: 0.75rem;

  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  line-height: 1.5rem;
 
  padding: 0.5rem 0.75rem;
  
  width: 400px;
}